---
  name: Build Status POST API to Convoy
  on:
    workflow_call:
      inputs:
        BRANCH_COVERAGE:
          required: true
          type: string
        LABEL:
          description: 'Release label for upload'
          required: true
          type: string
        STATEMENT_COVERAGE:
          required: true
          type: string
        TAG:
          description: 'Tag created during create-tag'
          required: true
          type: string

  jobs:

    post-coverage-to-convoy:
      runs-on: non-build
      env:
        BRANCH_COVERAGE: "${{inputs.BRANCH_COVERAGE}}"
        CODE_COVERAGE_S3: ${{vars.CODE_COVERAGE_S3}}
        LABEL: "${{inputs.LABEL}}"
        SLACK_WEBHOOK_URL: ${{ secrets.CONVOY_ALERTS_SLACK_URL }}
        STATEMENT_COVERAGE: "${{inputs.STATEMENT_COVERAGE}}"
        TAG: "${{inputs.TAG}}"
      steps:
        - uses: actions/checkout@v4.1.1
          with:
            fetch-depth: 0

        - name: Setup CI scripts
          run: cp -r ~/convoy-ci/.github/ci-scripts ./ci-scripts

        - name: Get branch name
          shell: bash
          run: |
            echo "SOURCE_BRANCH=$(echo ${GITHUB_REF#refs/heads/} | tr / -)" >> $GITHUB_ENV

        - name: Read convoy.yaml
          run: |
            echo "APP_GROUP=$(yq '.appGroup' convoy.yaml)" >> $GITHUB_ENV
            echo "LANGUAGE=$(yq '.language'  convoy.yaml)" >> $GITHUB_ENV

        - name: POST coverage to Convoy
          env:
            API_KEY: ${{secrets.CONVOY_AUTH_TOKEN}}
            API_URL: http://${{vars.CONVOY_DEV_API_ENDPOINT}}/devops/code/coverage
            APP_GROUP: ${{env.APP_GROUP}}
            BASE_BRANCH: "${{github.event.pull_request.base.ref}}"
            BRANCH_COVERAGE: "${{env.BRANCH_COVERAGE}}"
            CODE_COVERAGE_S3: ${{vars.CODE_COVERAGE_S3}}
            COMMIT_HASH: "${{github.sha}}"
            LABEL: "${{env.LABEL}}"
            LANGUAGE: ${{env.LANGUAGE}}
            REPO: "${{github.event.pull_request.base.repo.name}}"
            SOURCE_BRANCH: "${{env.SOURCE_BRANCH}}"
            STATEMENT_COVERAGE: "${{env.STATEMENT_COVERAGE}}"
            TAG: "${{env.TAG}}"
          run: bash ./ci-scripts/bash/post-coverage-data-to-convoy.sh

        - name: Slack Notification
          uses: act10ns/slack@v2.0.0
          with:
              status: ${{ job.status }}
              steps: ${{ toJson(steps) }}
              channel: ${{ secrets.CONVOY_ALERTS_SLACK_CHANNEL  }}
          if: failure()
