---
name: Create tag on release branch
on:
  workflow_call:
jobs:
  sonar-scan:
    if: github.ref_name == 'main' ||  github.event.pull_request.base.ref == 'main'
    runs-on: self-hosted
    env:
      CI_BRANCH: TDEVOPS-4000_py_env_2
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Set Environment
        run: |
          echo "GITHUB_REPO_NAME=${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}" >> $GITHUB_ENV

      - name: Setup CI Scripts
        run: |
          git clone https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com/TessellDevelopment/convoy-ci.git
          cd convoy-ci
          git checkout ${{env.CI_BRANCH}}
          git pull
          cd ..
          cp -r ./convoy-ci/.github/ci-scripts ./ci-scripts

      - name: Sonar Scan
        id: sonar
        shell: bash
        run: |
          set +e
          source ./ci-scripts/bash/functions-for-build
          sonar_scan

      - name: Slack Notification
        uses: act10ns/slack@v2.0.0
        if: failure()
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
          channel: ${{ secrets.SLACK_DEVOPS_CHANNEL }}
