---
name: Version Check in Nexus
on:
  workflow_call:

jobs:

  convoy-check:
    runs-on: non-build
    outputs:
      check: ${{steps.convoy_check.outputs.check}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          
      - name: Check convoy.yaml version exists
        id: convoy_check
        run: |
          if [ -f convoy.yaml ]; then
            if grep -q 'version' convoy.yaml; then
              echo "Version found in convoy.yaml"
              echo "check=true" >> $GITHUB_OUTPUT
            else
              if grep -q 'terraform' convoy.yaml; then
                echo "Tf-module repository running version check"
                echo "check=true" >> $GITHUB_OUTPUT
              else
                echo "Version not found in convoy.yaml"
                echo "check=false" >> $GITHUB_OUTPUT
              fi
            fi
          else
            echo "convoy.yaml not present, skipping version check."
            echo "check=false" >> $GITHUB_OUTPUT
          fi

  version-check:
    if: needs.convoy-check.outputs.check == 'true'
    needs: convoy-check
    runs-on: non-build
    env:
      CI_BRANCH: TDEVOPS-4297
    steps:

      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Setup CI Scripts
        run: |
          cd ~/convoy-ci
          git checkout main
          git pull
          git checkout ${{env.CI_BRANCH}}
          git pull
          cd ~-
          cp -r ~/convoy-ci/.github/ci-scripts ./ci-scripts

      - name: Check All file changes
        id: changed-files-all
        uses: step-security/changed-files@v45.0.1

      - name: Check Version in Nexus
        env:
          NEXUS_URL: ${{vars.NEXUS_PROTOCOL_LOCAL}}://${{vars.NEXUS_SERVER_ENDPOINT_LOCAL}}/service/rest/v1/search?repository
          NEXUS_USERNAME: ${{secrets.CIPIPELINE_NEXUS_USERNAME}}
          NEXUS_PASSWORD: ${{secrets.CIPIPELINE_NEXUS_PASSWORD}}
          NEXUS_PUSH_REPOS_M2: ${{vars.NEXUS_PUSH_REPOS_M2}}
          NEXUS_PUSH_REPOS_PY: ${{vars.NEXUS_PUSH_REPOS_PY}}
          MODIFIED_FILES: ${{steps.changed-files-all.outputs.all_changed_and_modified_files}}
        run: bash ./ci-scripts/bash/check-version-in-nexus.sh
