---
name: Master CI PR Workflows
on:
  workflow_call:

jobs:

  dev-checks:
    uses: TessellDevelopment/convoy-ci/.github/workflows/master_dev_checks.yml@TDEVOPS-4125_unitTest
    secrets: inherit

  version-check:
    uses: TessellDevelopment/convoy-ci/.github/workflows/master_check_version.yml@TDEVOPS-4125_unitTest
    secrets: inherit

  runner-check:
    runs-on: non-build
    outputs:
      type: ${{steps.runner-type.outputs.type}}
    needs: [dev-checks,version-check]
    steps:

      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Determine build type from Convoy
        id: runner-type
        run: |
          runner=$(yq '.runner' convoy.yaml)
          echo "type=$runner" >> $GITHUB_OUTPUT

  build:
    needs: runner-check
    uses: TessellDevelopment/convoy-ci/.github/workflows/master_build_pr.yml@TDEVOPS-4125_unitTest
    with:
      type: ${{needs.runner-check.outputs.type}}
    secrets: inherit

  # This code in not serving any purpose now other than being a false positive since always() has been added in both check-commits and auto-merge
    # 1. When DC PR is opened (Have single commit) even if dev-check or build fails since check-commits have always() it'll run and trigger auto merge
    # 2. WHen DC PR has multiple commits even if check-commits fails since auto-merge has always() it'll still trigger auto-merge when though multiple commits are present
    # 3. So everything needs to handled by having build and check-approval as required so even if auto-merge is enabled it's not merged without those passing
    # 4. Always is needed to merge DC in case of no build repos

  # check-commits:
  #   if: (contains(github.event.pull_request.head.ref, 'double_commit')) && (github.event.pull_request.user.login == 'cipipelinetessell' ) && always()
  #   runs-on: non-build
  #   needs: build
  #   env:
  #     REPO: ${{github.repository}}
  #     PR_NUMBER: ${{github.event.number}}
  #     GITHUB_TOKEN: ${{secrets.CIPIPELINE_GITHUB_TOKEN}}
  #   steps:  
  #     - uses: actions/checkout@v4.1.1
  #       with:
  #         fetch-depth: 0

  #     - name: Check commits
  #       id: get-pr-commits
  #       run: |
  #         PR_COMMITS=$(curl -L \
  #           -H "Accept: application/vnd.github+json" \
  #           -H "Authorization: Bearer ${{ secrets.CIPIPELINE_GITHUB_TOKEN }}" \
  #           -H "X-GitHub-Api-Version: 2022-11-28" \
  #           ${{vars.GH_API_URL}}/repos/${{ github.repository }}/pulls/${{ github.event.pull_request.number }}/commits| jq -r '. | length')
  #         echo "Number of commits in PR: $PR_COMMITS"
  #         echo "::set-output name=pr_commits::$PR_COMMITS"

  #     - name: Check Number of Commits
  #       run: |
  #         PR_COMMITS=${{ steps.get-pr-commits.outputs.pr_commits }}
  #         if [ "$PR_COMMITS" -eq 1 ]; then
  #           echo "One Commit present in DC. Auto merge."
  #         else
  #           echo "More than one commit present in DC, need approval."
  #           exit 1
  #         fi
    
  auto-merge:
    needs: build
    if: (contains(github.event.pull_request.head.ref, 'double_commit')) && (github.event.pull_request.user.login == 'cipipelinetessell' ) && always()
    uses: TessellDevelopment/convoy-ci/.github/workflows/master_auto_merge.yml@TDEVOPS-4125_unitTest
    secrets: inherit 

  send-mail:
    needs: auto-merge
    if: failure() && (contains(github.event.pull_request.head.ref, 'double_commit'))
    uses: TessellDevelopment/convoy-ci/.github/workflows/master_send_email.yml@TDEVOPS-4125_unitTest
    secrets: inherit
