---
name: Create PR for double merge
on:
  workflow_call:

jobs:

  create-pr-for-double-merge:
    if: github.event.pull_request.merged == true
    runs-on: non-build
    env:
      CI_BRANCH: TDEVOPS-3673
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL  }}
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          token: ${{secrets.CIPIPELINE_GITHUB_TOKEN}}

      - name: Get all the release branches
        id: all_branches
        run: |
          branches+=("$(git branch -r | sed 's/^ *//g'| grep 'rel-')")
          declare -a br_arr=()
          for branch in $branches; do if [[ $branch == 'origin/rel-'* ]]; then br_arr+=($branch); fi ; done
          echo "BRANCHES=${br_arr[@]}" >> $GITHUB_ENV
          echo "MAILID=$(git log -1 --pretty=format:'%ae')" >> $GITHUB_ENV

          APP_GROUP=$(yq '.appGroup' convoy.yaml)
          echo "APP_GROUP=$APP_GROUP" >> $GITHUB_ENV

      - name: Pull Create
        id: create_dc
        uses: actions/github-script@v7.0.1
        env:
          PR_TITLE: ${{github.event.pull_request.title}}
        with:
          github-token: ${{ secrets.CIPIPELINE_GITHUB_TOKEN  }}
          script: |
            const prTitle = process.env.PR_TITLE
            // Get base branch minor version of the PR
            const prBaseBranch = "${{ github.event.pull_request.base.ref }}"
            const prBaseBranchMinVer = prBaseBranch.split('.')[1]
            // get pr source branch
            const prSrcBranch = "${{ github.event.pull_request.head.ref }}"
            // check if this itself is a double commit.
            // then we don't need to create another one from this.
            if (prSrcBranch.includes("double_commit")) {
              console.log("This branch " + prSrcBranch + " is itself a double commit branch")
              process.exit(0);
            }

            // check if NODC is set
            if (prTitle.endsWith('::NODC::') || prTitle.startsWith('::NODC::')) {
              console.log("NODC set, aborting..");
              process.exit(0);
            }

            // check if base branch is rel-0.0.0, no DC should be created
            if (prBaseBranch === "rel-0.0.0") {
              console.log("Base branch is rel-0.0.0, no DC will be created");
              process.exit(0);
            }

            // create rel branches array
            const branches = "${{ env.BRANCHES }}".split(' ')

            if (prBaseBranch !== "main") {
              // add 'main' branch to the list only if base branch is not main
              branches.push("main")
            }

            // loop through the available active branches to create DC
            console.log("prBaseBranch: " + prBaseBranch)
            console.log("prBaseBranchMinVer: " + prBaseBranchMinVer)
            console.log("prSrcBranch: " + prSrcBranch);
            for (branch in branches) {
              // if the branch is empty, iterate with next element
              if (branches[branch] == "") {
                continue
              }
              console.log(" Iterating " + branches[branch])
              let originalDstBranch = branches[branch].trim()
              dstBranch = originalDstBranch
              console.log("dstBranch:" + dstBranch)

              if (prBaseBranch === "main" && originalDstBranch !== "origin/rel-0.0.0") {
                console.log("Base branch is main, skipping " + dstBranch);
                continue
              }

              // check if its a forward active branch
              if (dstBranch != "main") {
                // remove the 'origin' from the remote branch name
                dstBranch = dstBranch.split('/')[1]

                // No need to create PR for branches not starting with 'rel-'
                if (!dstBranch.startsWith('rel-')) {
                   continue
                }

                if (dstBranch === 'rel-0.0.0') {
                  console.log("Creating DC for rel-0.0.0 (irrespective of base branch)");
                } else {
                  // dst branch minor version
                  dstBranchMinVer = dstBranch.split('.')[1]
                  // if minor version is more than the current branch, its a latest release and
                  // we need to create DC
                  if (parseInt(dstBranchMinVer) <= parseInt(prBaseBranchMinVer)) {
                    continue
                  }
                }
              }
              // new branch name
              prBranchName = [prSrcBranch, dstBranch, "double_commit"].join("-")
              const { exec } = require('child_process');
              const util = require('util');
              const execPromise = util.promisify(exec);
              command = 'git checkout -b ' + prBranchName + ' origin/' + dstBranch
              try {
                // wait for exec to complete
                const result = await execPromise(command);
                console.log("stdout: " + result.stdout);
                console.log("stderr: " + result.stderr);
              } catch (error) {
                console.log(error);
              }

              command = 'git cherry-pick ' + "${{ github.sha }}"
              try {
                // wait for exec to complete
                const result = await execPromise(command);
                console.log("stdout: " + result.stdout);
                console.log("stderr: " + result.stderr);
              } catch (error) {
                console.log(error);
                try {
                  command = "find . -type f -name index.lock | xargs rm -rf "
                  const result = await execPromise(command);
                  console.log("stdout: " + result.stdout);
                  console.log("stderr: " + result.stderr);
                } catch (error2) {
                  console.log("Error during rm and find.")
                  console.log(error2)
                }
                try {
                  console.log("Running git status")
                  command = "git status"
                  result = await execPromise(command);
                  console.log("stdout: " + result.stdout);
                  console.log("stderr: " + result.stderr);
                } catch (error_status) {
                  console.log("Error during git status.")
                  console.log(error_status)
                }
                try {
                  command = "git add . ; git -c core.editor=true commit --amend --author=${{ env.MAILID }}"
                  result = await execPromise(command);
                  console.log("stdout: " + result.stdout);
                  console.log("stderr: " + result.stderr);
                } catch (error3) {
                  console.log("Error during git add.")
                  console.log(error3)
                  try {
                      console.log("Trying cherry-pick --continue")
                      command = "git add . ; git -c core.editor=true cherry-pick --continue; git status"
                      result = await execPromise(command);
                      console.log("stdout: " + result.stdout);
                      console.log("stderr: " + result.stderr);
                  } catch (error4) {
                      console.log("Error during git add with cherry-pick --continue")
                      console.log(error4)
                  }
                  try {
                      console.log("Amend the commit")
                      command = "git -c core.editor=true commit --amend --author=${{ env.MAILID }}"
                      result = await execPromise(command);
                      console.log("stdout: " + result.stdout);
                      console.log("stderr: " + result.stderr);
                  } catch (error5) {
                      console.log("Failed during Amending the commit.")
                      console.log(error5)
                  }
                }
              }
              command = 'git push -u -f origin ' + prBranchName
              result = await execPromise(command);
              console.log("stdout: " + result.stdout);
              console.log("stderr: " + result.stderr);

              // Create pull request
              dcTitle = `Double Commit: ${prTitle}`;
              try {
                const pullCreateResponse = await github.rest.pulls.create({
                  owner: "${{ github.repository_owner }}",
                  title: dcTitle,
                  repo: "${{ github.repository }}".split('/')[1],
                  head: prBranchName,
                  base: dstBranch
                });
                console.log(pullCreateResponse);
              } catch (error) {
                if (error.status === 422) {
                  console.log("Skipping pull request creation since no diff exists between base and head branch. Checking next branch.");
                  command = 'git checkout ' + dstBranch
                  result = await execPromise(command);
                  command = 'git branch -D ' + prBranchName
                  result = await execPromise(command);
                  continue;
                }
                console.log("Error creating pull request: ", error);
              }
            }

      - name: Setup CI Scripts
        run: |
          cd ~/convoy-ci
          git checkout main
          git pull
          git checkout ${{env.CI_BRANCH}}
          git pull
          cd ~-
          cp -r ~/convoy-ci/.github/ci-scripts ./ci-scripts
          
      - name: Create Cross-Repo Double Commits (CRDC)
        id: create_crdc
        env:
          APP_GROUP: ${{ env.APP_GROUP }}
          COMMIT_SHA: ${{ github.sha }}
          CONVOY_DEV_API_ENDPOINT: ${{vars.CONVOY_API_ENDPOINT}}
          CONVOY_API_KEY: ${{ secrets.CONVOY_AUTH_TOKEN }}
          CONVOY_RELEASE_MGMT_API_KEY: ${{ secrets.CONVOY_RELEASE_MGMT_API_KEY }}
          CURRENT_REPO: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.CIPIPELINE_GITHUB_TOKEN }}
          MAILID: ${{ env.MAILID }}
          PR_BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_SOURCE_BRANCH: ${{ github.event.pull_request.head.ref }}
          PR_TITLE: ${{ github.event.pull_request.title }}
          REPO_OWNER: ${{ github.repository_owner }}
        run: |
          ./ci-scripts/bash/create-crdc

      - name: Slack Notification
        if: failure()
        uses: act10ns/slack@v2.0.0
        with:
           status: ${{ job.status }}
           steps: ${{ toJson(steps) }}
           channel: ${{ secrets.SLACK_DEVOPS_CHANNEL  }}
